# Django Secret Key & Debug Mode
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Razorpay Payment Gateway Credentials
RAZORPAY_KEY_ID=rzp_test_Ti669CtGd6bqQT
RAZORPAY_KEY_SECRET=your_razorpay_secret_key

# UPI Scan & Pay Settings
STORE_UPI_ID=maheshkekan13-2@0kaxis
STORE_UPI_NAME=Sadguru Krupa
